<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create album</title>
    <link rel="stylesheet" type="text/css" href="/styles/create.css">
</head>
<body>
<h1>Create a new album</h1>

<form id="formArtist" action="/createNew" method="post">
    <label>Enter artist name</label>
    <input type="text" name="artistName">
    <label>Enter album title</label>
    <input type="text" name="albumTitle">
    <label>Enter song title</label>
    <input type="text" name="songName">
    <label>Enter release year</label>
    <input type="text" name="releaseYear">
    <input type="submit" value="Add album to database" style="color: #4CAF50">
</form>
</body>
</html>