<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Music Database</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<h1>Album list</h1>

<a href="/create">
    <button class="btn-create, btn" id="btn-create">Insert album to Database</button>
</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Album Artist</th>
        <th>Album Title</th>
        <th>Song Name</th>
        <th>Release Year</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="album: ${albums}">
        <td th:text="${album.id}"/>
        <td th:text="${album.artistName}"/>
        <td th:text="${album.albumTitle}"/>
        <td th:text="${album.songName}"/>
        <td th:text="${album.releaseYear}"/>
    </tr>
    </tbody>

</table>
</body>
</html>